<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236784599748-vd4qonvqp7sogbbg96eoliachum99r42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236784599748-vd4qonvqp7sogbbg96eoliachum99r42</string>
	<key>API_KEY</key>
	<string>AIzaSyCUiGc9NgrEfifpukgWi90YowZKvtlzSSc</string>
	<key>GCM_SENDER_ID</key>
	<string>236784599748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vandan.foodadmin</string>
	<key>PROJECT_ID</key>
	<string>foodswipe-9e794</string>
	<key>STORAGE_BUCKET</key>
	<string>foodswipe-9e794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236784599748:ios:ba6177440e9ee2631a3f91</string>
</dict>
</plist>